* {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    text-decoration: none !important;
    color: #282828;
}

a {
    color: #282828;
}

.header-super-mei {
    padding: 20px 0px 20px 0px;
}

.hello {
    margin-top: 10px;
    font-size: 36px;
}

.select-cidade {
    width: 100%;
}

/* Make Select2 boxes match Bootstrap3 heights: */
.select2-selection__rendered {
    line-height: 45px !important;
}

.select2-selection {
    height: 45px !important;
}

.select2-selection__arrow {
    top: 9px !important;
    right: 9px !important;
}

.turma-card {
    margin-bottom: 30px;
    padding: 10px;
    background: #F5F5F5;
    border-radius: 5px;
}

.turma-card-title {
    font-size: 18px;
    color: #404040;
    margin-top: 0;
    margin-bottom: 9px;
}

.turma-card-avaliable {
    border-left: 5px solid #93c21a;

}

.turma-card-full {
    border-left: 5px solid #e84e10;
}

.fallback {
    margin-top: 35px;
}

.btn-fallback {
    background: #95c21f;
    width: 300px;
    color: white;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border-radius: 0;
}

.btn-fallback:hover {
    color: white !important;
}

.btn-fallback:visited {
    color: white !important;
}

.btn-programatico {
    color: white;
    border-radius: 0;
}

.btn-programatico-avaliable {
    background: #95c21f;
}

.btn-programatico-full {
    background: #e84e10;
}

.btn-success-alt {
    background: #95c21f;
    color: white;
    border-radius: 0;
}

.btn-success-alt:hover {
    color: white !important;
}

.btn-success-alt:focus {
    color: white !important;
}

.btn-programatico:hover {
    color: white !important;
}

.btn-programatico:visited {
    color: white !important;
}

.btn-programatico:focus {
    color: white !important;
}

.btn-close {
    border-radius: 0;
}

.modal-content {
    border-radius: 0px;
    box-shadow: none;
    border: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.footer .container p {
    margin: 20px 0px;
}

.swal-modal {
    border-radius: 0px !important;
}

.swal-button {
    background-color: #95c21f;
    border-radius: 0px !important;
}

.swal-button:active {
    background-color: #95c21f;
}

.swal-button:focus {
    outline: none;
    box-shadow: none;
}

.swal-footer {
    text-align: center !important;
}

.turma-card-footer {
    padding: 5px;
    margin-top: 5px;
    color: white;
    text-align: center;
}

.turma-card-footer-avaliable {
    background: #95c21f;
}

.turma-card-footer-full {
    background: #e84e10;
}

.btn-submit-insc {
    margin-bottom: 300px;
}

.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #95c21f;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}

.cs-options::-webkit-scrollbar {
    width: 60px;
    height: 2em
}

.cs-options::-webkit-scrollbar-button {
    height: 60px;
    background: #aa3dd5;
}

.cs-options::-webkit-scrollbar-button:vertical:decrement {
    background-image: url('../img/arrowup.png');
    background-position: center;
    background-repeat: no-repeat;
}

.cs-options::-webkit-scrollbar-button:vertical:increment {
    background-image: url('../img/arrowdown.png');
    background-repeat: no-repeat;
    background-position: center;
}

.cs-options::-webkit-scrollbar-track-piece {
    background: #662583;
}

.cs-options::-webkit-scrollbar-thumb {
    background: #662583;
}