<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('Super Mei') ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
        ->prependStylesheet($this->basePath() . '/css/style.css')
        ->prependStylesheet($this->basePath() . '/css/cs-skin-slide.css')
        ->prependStylesheet($this->basePath() . '/css/cs-select.css')
        ->prependStylesheet($this->basePath() . '/css/jquery.accent-keyboard.css')
        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- Scripts -->
    <?php echo $this->headScript()
        ->prependFile($this->basePath() . '/js/app.js')
        ->prependFile($this->basePath() . '/js/jquery.mask.min.js')
        ->prependFile($this->basePath() . '/js/selectFx.js')
        ->prependFile($this->basePath() . '/js/classie.js')
        ->prependFile($this->basePath() . '/js/jquery.accent-keyboard.js')
        ->prependFile($this->basePath() . '/js/jquery.autocomplete-address.js')
        ->prependFile($this->basePath() . '/js/bootstrap.min.js')
        ->prependFile($this->basePath() . '/js/jquery.min.js')
        ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',)); ?>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>
<div class="container">
    <div class="header-super-mei">
        <img src="<?= $this->basePath('img/stripes.jpg') ?>">
        <a href="<?= $this->url('home') ?>"><img src="<?= $this->basePath('img/logo.jpg') ?>"></a>
    </div>
    <?= $this->Messages() ?>
    <?php echo $this->content; ?>
</div> <!-- /container -->
<?php echo $this->inlineScript() ?>
</body>
</html>
