<section class="box-typical">
    <div id="toolbar">
        <?php if ($this->register && array_key_exists('route', $this->register)) { ?>
            <?php if ($this->isAllowed($this->register['route'])) { ?>
                <a href="<?= $this->url($this->register['route']) ?>" id="register" class="btn btn-primary">
                    <i class="font-icon fa fa-plus"></i> <?= $this->register['label'] ?>
                </a>
            <?php }
        } elseif ($this->register && array_key_exists('label', $this->register)) { ?>
            <strong><?= $this->register['label'] ?></strong>
        <?php } ?>
        <?php if (array_key_exists('title', $this->register)) { ?>
            <strong><?= $this->register['title'] ?></strong>
        <?php } ?>
    </div>
    <div class="table-responsive">
        <table id="<?= $this->tableId ?>"
               class="table table-striped"
               data-toolbar="#toolbar"
               data-search="true"
               data-show-export="true"
               data-minimum-count-columns="2"
               data-show-pagination-switch="false"
               data-pagination="true"
               data-id-field="id"
               data-filter-control="true"
               data-mobile-responsive="true"
               data-show-footer="false">
        </table>
    </div>
</section>

<script>
    //Dados que vem da view
    var data = <?=json_encode($this->data)?>;

    //Declaração do objeto de ações
    var actions = new Object;

    $(document).ready(function () {

        //TODO: DESACOPLAR OS FORMATTERS EM OUTRO ARQUIVO

        //Formatter de DATA
        function datetimeFormatter(data, rowData, index) {
            var date = moment(data);
            return date.format('L');
        }

        //Formatter de CNPJ
        function cnpjFormatter(data, rowData, index) {
            return data.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, '$1.$2.$3/$4-$5');
        }

        //Formatter de STATUS
        function statusFormatter(data, rowData, index) {
            if (data == 1) {
                return '<span class="label label-success">Ativo</span>'
            } else if (data == 0) {
                return '<span class="label label-danger">Inativo</span>'
            } else {
                return '<span class="label label-primary">' + data + '</span>'
            }
        }

        //Formatter de MOEDA
        function currencyFormatter(data, rowData, index) {

            var numero = Number(data).toFixed(2).split('.');
            numero[0] = "R$ " + numero[0].split(/(?=(?:...)*$)/).join('.');
            return numero.join(',');
        }

        //Formatter de PROGRESSBAR
        function progressFormatter(data, rowData, index) {

            var progressClass = d3.scaleThreshold()
                .domain([31, 61, 91, 100])
                .range(["progress-success", "progress-warning", "progress-warning-second", "progress-danger"]);

            return '<div class="progress-with-amount">' +
                '<progress class="progress m-b-0 ' + progressClass(data) + '" value="' + (data > 100 ? 100 : data) + '" max="100"></progress>' +
                '<div class="progress-with-amount-number">' + data + '%</div>' +
                '</div>';

        }

        //Criação do Objeto com as ações do registro caso exista
        <?php if($this->actions){?>
        <?php foreach($this->data as $key=>$data){?>
        actions[<?=$data['id']?>] = '<div class="dropdown dropdown-status hidden-sm-down">' +
            '<button class="btn btn-primary dropdown-toggle dropdown-action" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ações</button>' +
            '<div class="dropdown-menu dropdown-action">' +
            <?php foreach ($this->actions as $action){ ?>
            <?php if ($this->isAllowed($action['route'])) { ?>
            '<a class="dropdown-item <?=($action['label'] ? null : "confirm-before")?>" href="<?=$this->url($action['route'], array($action['routeParam'] => $this->data[$key][$action['identifierData']]), ($action['label'] ? null : array('query' => array('interaction' => !$data['status']))))?>"><?=($action['label'] ?: ($data['status'] == 1 ? "Inativar" : "Ativar"))?></a>' +
            <?php }?>
            <?php }?>
            '</div>' +
            '</div>';
        <?php }?>
        <?php }?>

        //Entidade da Tabela, usar para eventos
        var $table = $('#<?= $this->tableId ?>');

        //Instancia do bootstrapTable
        $table.bootstrapTable({
            iconsPrefix: 'font-icon',
            locale: 'pt-BR',
            exportTypes: ['excel', 'csv'],
            exportOptions: {
                ignoreColumn: [<?=(count($this->columnConfig))?>],
                fileName: 'Relatório - Sistema integrado de Marketing',
                onCellHtmlData: function (cell, rowIndex, colIndex, htmlData) {
                    //Retira os selects que vem dos filtros do cabeçalho
                    return (htmlData.startsWith('<div class="th-inner') ? $(htmlData).html() : htmlData);
                }
            },
            icons: {
                paginationSwitchDown: 'fa fa-chevron-circle-down',
                paginationSwitchUp: 'fa fa-chevron-circle-up',
                toggle: 'font-icon-list-square',
                columns: 'font-icon-list-rotate',
                export: 'fa fa-download',
                detailOpen: 'fa fa-plus',
                detailClose: 'fa fa-times'
            },
            paginationPreText: '<i class="font-icon fa fa-chevron-left"></i>',
            paginationNextText: '<i class="font-icon fa fa-chevron-right"></i>',
            data: data,
            filterShowClear: true,
            columns: [
                <?php foreach($this->columnConfig as $columnConfig){ ?>
                {
                    field: '<?=$columnConfig['columnData']?>',
                    <?php if(key_exists('columnFilter', $columnConfig)){?>
                    filterControl: '<?=($columnConfig['columnFilter'])?>',
                    <?php }else{?>
                    filterControl: 'input',
                    <?php }?>
                    title: '<?=$columnConfig['columnName']?>',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                    <?php if(key_exists('columnClass', $columnConfig)){?>
                    class: '<?=$columnConfig['columnClass']?>',
                    <?php }?>
                    <?php if(key_exists('columnFormatter', $columnConfig)){?>
                    formatter: <?=$columnConfig['columnFormatter']?>
                    <?php }?>
                },
                <?php }?>
                <?php if($this->actions){?>
                {
                    valign: 'middle',
                    align: 'center',
                    formatter: function (data, rowData, index) {
                        return actions[rowData.id];
                    }
                }
                <?php }?>
            ]
        });

        //Aplica o confirm before para inativar/ativar
        alertConfirm();
        $table.on("column-search.bs.table", alertConfirm);

        function alertConfirm() {
            $(".confirm-before").on("click", function (e) {
                var This = $(this);
                e.preventDefault();
                swal({
                        title: "Você confirma essa ação?",
                        type: "warning",
                        showCancelButton: true,
                        cancelButtonClass: "btn-default",
                        confirmButtonClass: "btn-warning",
                        confirmButtonText: "Continuar",
                        cancelButtonText: "Cancelar",
                        closeOnConfirm: true
                    },
                    function () {
                        window.location = This.attr('href');
                    });
            });
        }

    });
</script>
