<header class="page-content-header">
    <div class="container-fluid">
        <div class="tbl">
            <div class="tbl-row">
                <div class="tbl-cell">
                    <h3><?= $this->pageTitle ?>
                        <small class="text-muted"><?= $this->titleDescription ?></small>
                    </h3>
                </div>
                <?php if ($this->filter) { ?>
                    <div class="tbl-cell text-right">
                        <form class="form-inline"
                              action="<?= $this->url($this->currentRoute()->getRoute(), array(), null, true) ?>"
                              method="get">
                            <?php foreach ($this->filter as $filterIndex => $filter) { ?>
                                <fieldset <?= (array_key_exists('width', $filter) ? 'style="width: ' . $filter['width'] . 'px"' : null) ?>
                                        class="form-group">
                                    <select name="<?= key($filter['filter']) ?>"
                                            class="select2 select2-no-search-default">
                                        <?php foreach ($filter['filter'][key($filter['filter'])] as $filterValueLabel => $filterValue) { ?>
                                            <option <?= ($filterValue == $filter['referenceMatch'] ? "selected" : null) ?>
                                                    value="<?= $filterValue ?>">
                                                <?= $this->escapeHtml($filterValueLabel) ?>
                                            </option>
                                        <?php } ?>
                                    </select>
                                </fieldset>
                            <?php } ?>
                            <button type="submit" class="btn btn-primary">
                                <?= $this->translate('Filtrar') ?>
                            </button>
                        </form>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>
</header>
<?= $this->Messages() ?>