<div class="center-content">
    <div class="row">
        <div class="col-md-12">
            <div class="hello text-center">
                <p>Escolha o curso que você deseja fazer</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <form id="flow" method="POST" action="<?= $this->url('turmas') ?>">
                <input type="hidden" name="segmento" value="<?= $this->segmento ?>">
                <input type="hidden" name="cidade" value="<?= $this->cidade ?>">
                <select name="curso" class="cs-select cs-skin-slide">
                    <?php foreach ($this->cursos as $curso) { ?>
                        <option value="<?= $curso ?>"><?= $curso ?></option>
                    <?php } ?>
                </select>
            </form>
        </div>
        <div class="col-md-12 text-center" style="margin-top: 20px">
            <form id="back" method="POST" action="<?= $this->url('segmentos') ?>">
                <input type="hidden" name="cidade" value="<?= $this->cidade ?>">
                <button id="btn-submit" class="btn btn-lg btn-success-alt" type="submit">Voltar</button>
            </form>
        </div>
    </div>
</div>