<div class="center-content">
    <div class="row">
        <div class="col-md-12">
            <div class="hello text-center">
                <p>Para ver as turmas com inscrições disponíveis,<br> escolha o município</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <form id="flow" method="POST" action="<?= $this->url('segmentos') ?>">
                <select name="cidade" class="cs-select cs-skin-slide">
                    <?php foreach ($this->cidades as $cidade) { ?>
                        <option value="<?= $cidade ?>"><?= $cidade ?></option>
                    <?php } ?>
                </select>
            </form>
        </div>
    </div>
</div>