<?php
$this->layout('layout/layoutNoFooter');
?>
<div class="hello text-center">
    <p>Inscrição turma #<?= $this->turma['D'] ?></p>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <form id="inscricao" method="POST" action="<?= $this->url('inscricao', array(), null, true) ?>">
            <div class="form-group">
                <label for="nome">*Nome Completo:</label>
                <input type="text" autocomplete="off" class="form-control" name="nome" required>
            </div>
            <div class="form-group">
                <label for="cpf">*CPF:</label>
                <input type="text" autocomplete="off" class="form-control" name="cpf" required>
            </div>
            <div class="form-group">
                <label for="cpf">*Sexo:</label>
                <div class="funkyradio">
                    <div class="funkyradio-success">
                        <input type="radio" required value="Masculino" name="genero" id="radio_genero_masculino"/>
                        <label for="radio_genero_masculino">Masculino</label>
                    </div>
                    <div class="funkyradio-success">
                        <input type="radio" required value="Feminino" name="genero" id="radio_genero_feminino"/>
                        <label for="radio_genero_feminino">Feminino</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="social">Nome Social:</label>
                <input type="text" autocomplete="off" class="form-control" name="social">
            </div>
            <div class="form-group">
                <label for="nascimento">*Data Nascimento:</label>
                <input type="text" autocomplete="off" class="form-control" name="nascimento" required>
                <small class="form-text text-muted">formato: dd/mm/aaaa</small>
            </div>
            <div class="form-group">
                <label for="escolaridade">Escolaridade:</label>
                <select class="form-control" name="escolaridade">
                    <option value="Não Informado">Não Informado</option>
                    <option value="Analfabeto">Analfabeto</option>
                    <option value="Até o 5º ano incompleto do ensino fundamental">Até o 5º ano incompleto do ensino
                        fundamental
                    </option>
                    <option value="5º ano completo do ensino fundamental">5º ano completo do ensino fundamental</option>
                    <option value="Do 6º ao 9º ano do ensino fundamental">Do 6º ao 9º ano do ensino fundamental</option>
                    <option value="Ensino fundamental completo">Ensino fundamental completo</option>
                    <option value="Ensino médio incompleto">Ensino médio incompleto</option>
                    <option value="Ensino médio completo">Ensino médio completo</option>
                    <option value="Educação Superior incompleto">Educação Superior incompleto</option>
                    <option value="Educação Superior completo">Educação Superior completo</option>
                    <option value="Pós Graduação incompleto">Pós Graduação incompleto</option>
                    <option value="Pós Graduação completo">Pós Graduação completo</option>
                    <option value="Mestrado incompleto">Mestrado incompleto</option>
                    <option value="Mestrado completo">Mestrado completo</option>
                    <option value="Doutorado incompleto">Doutorado incompleto</option>
                    <option value="Doutorado completo">Doutorado completo</option>
                    <option value="Pós Doutorado incompleto">Pós Doutorado incompleto</option>
                    <option value="Pós Doutorado completo">Pós Doutorado completo</option>
                </select>
            </div>
            <div class="form-group">
                <label for="deficiencia">*Possui deficiência?</label>
                <div class="funkyradio">
                    <div class="funkyradio-success">
                        <input type="radio" required value="Não" name="deficiencia" id="radio_def_nao"/>
                        <label for="radio_def_nao">Não</label>
                    </div>
                    <div class="funkyradio-success">
                        <input type="radio" required value="Sim, mas não preciso de tecnologia assistiva, intérprete
                    de LIBRAS ou outras adaptações." name="deficiencia" id="radio_def_sim_but_no"/>
                        <label for="radio_def_sim_but_no">Sim, mas não preciso de tecnologia assistiva, intérprete
                            de LIBRAS ou outras adaptações.</label>
                    </div>
                    <div class="funkyradio-success">
                        <input type="radio" required value="Sim e preciso de tecnologia assistiva, intérprete de
                    LIBRAS ou outras adaptações." name="deficiencia" id="radio_def_sim_but_yes"/>
                        <label for="radio_def_sim_but_yes">Sim e preciso de tecnologia assistiva, intérprete de
                            LIBRAS ou outras adaptações.</label>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label for="cep">CEP:</label>
                <input type="text" autocomplete="off" class="form-control" name="cep">
                <small id="search-cep" class="form-text text-muted hidden">Procurando CEP...</small>
            </div>
            <div class="form-group">
                <label for="endereco">*Endereço:</label>
                <input type="text" autocomplete="off" data-autocomplete-address class="form-control" name="endereco"
                       required>
            </div>
            <div class="form-group">
                <label for="numero">*Numero:</label>
                <input type="text" autocomplete="off" class="form-control" name="numero" required>
            </div>
            <div class="form-group">
                <label for="complemento">Complemento:</label>
                <input type="text" autocomplete="off" class="form-control" name="complemento">
            </div>
            <div class="form-group">
                <label for="bairro">*Bairro:</label>
                <input type="text" autocomplete="off" data-autocomplete-neighborhood class="form-control" name="bairro"
                       required>
            </div>
            <div class="form-group">
                <label for="uf">*UF:</label>
                <input type="text" autocomplete="off" data-autocomplete-state class="form-control" name="uf" required>
            </div>
            <div class="form-group">
                <label for="cidade">*Cidade:</label>
                <input type="text" autocomplete="off" data-autocomplete-city class="form-control" name="cidade"
                       required>
            </div>
            <div class="form-group">
                <label for="telefone">Telefone com DDD:</label>
                <input type="text" autocomplete="off" class="form-control" name="telefone">
            </div>
            <div class="form-group">
                <label for="celular">*Celular com DDD:</label>
                <input type="text" autocomplete="off" class="form-control" name="celular" required>
            </div>
            <div class="form-group">
                <label for="email">*Email:</label>
                <input type="text" autocomplete="off" class="form-control" name="email" required>
            </div>
            <div class="form-group">
                <label for="mei">*Possui CNPJ MEI?</label>
                <div class="funkyradio">
                    <div class="funkyradio-success">
                        <input type="radio" required value="Sim" name="mei" id="radio_mei_sim"/>
                        <label for="radio_mei_sim">Sim</label>
                    </div>
                    <div class="funkyradio-success">
                        <input type="radio" required value="Não" name="mei" id="radio_mei_nao"/>
                        <label for="radio_mei_nao">Não</label>
                    </div>

                </div>
            </div>
            <div id="mei-info" class="hidden">
                <div class="form-group">
                    <label for="cnpj">CNPJ:</label>
                    <input type="text" autocomplete="off" class="form-control" name="cnpj">
                </div>
                <div class="form-group">
                    <label for="razao">Razão Social:</label>
                    <input type="text" autocomplete="off" class="form-control" name="razao">
                </div>
            </div>

            <button id="btn-submit" class="btn btn-lg btn-success-alt btn-block btn-submit-insc" type="submit">
                Confirmar
            </button>
        </form>
    </div>
</div>
<br>