<div class="center-content">
    <div class="row">
        <div class="col-md-12">
            <div class="hello text-center">
                <p>Agora, escolha qual segmento que você deseja</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <form id="flow" method="POST" action="<?= $this->url('cursos') ?>">
                <input type="hidden" name="cidade" value="<?= $this->cidade ?>">
                <select name="segmento" class="cs-select cs-skin-slide">
                    <?php foreach ($this->segmentos as $segmento) { ?>
                        <option value="<?= $segmento ?>"><?= $segmento ?></option>
                    <?php } ?>
                </select>
            </form>
        </div>
        <div class="col-md-12 text-center" style="margin-top: 20px">
            <form id="back" method="POST" action="<?= $this->url('home') ?>">
                <input type="hidden" value="">
                <button id="btn-submit" class="btn btn-lg btn-success-alt" type="submit">Voltar</button>
            </form>
        </div>
    </div>
</div>