<?php
$this->layout('layout/layoutNoFooter');
?>
<div class="row">
    <div class="col-md-12">
        <div class="hello text-center">
            <p>Faça a sua inscrição na turma desejada</p>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <?php foreach ($this->turmas as $turma) { ?>
        <div class="col-md-6">
            <div class="turma-card <?= ($turma['countValidate'] < $turma['K'] ? 'turma-card-avaliable' : 'turma-card-full') ?>">
                <div class="turma-card-title">
                    <div class="pull-left">
                        <strong>Turma #<?= $turma['D'] ?></strong>
                    </div>
                    <div class="pull-right">
                        <button data-toggle="modal" data-target="#modal_<?= $turma['D'] ?>"
                                class="btn btn-sm btn-programatico <?= ($turma['countValidate'] < $turma['K'] ? 'btn-programatico-avaliable' : 'btn-programatico-full') ?>">Conteúdo programatico
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="turma-card-content">
                    <strong>Período: </strong><?= $turma['E'] ?> - <?= $turma['F'] ?><br>
                    <strong>Horário: </strong>Das <?= $turma['G'] ?> às <?= $turma['H'] ?><br>
                    <strong>Endereço: </strong><?= $turma['I'] ?><br>
                    <strong>Local: </strong><?= $turma['J'] ?><br>
                    <strong>Vagas: </strong><?= $turma['countValidate'] ?>/<?= $turma['K'] ?><br>
                    <strong>Carga Horária: </strong><?= $turma['L'] ?> Horas
                </div>

                <?php if ($turma['countValidate'] < $turma['K']) { ?>
                    <a href="<?= $this->url('inscricao', array('turmaId' => $turma['D'])) ?>">
                        <div class="turma-card-footer turma-card-footer-avaliable">
                            Toque aqui para se inscrever nessa turma
                        </div>
                    </a>
                <?php } else { ?>
                    <div class="turma-card-footer turma-card-footer-full">
                        Turma Completa
                    </div>
                <?php } ?>
            </div>
        </div>
        <!-- Modal Conteúdo-->

        <!-- Modal -->
        <div class="modal fade" id="modal_<?= $turma['D'] ?>" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Conteúdo programático turma #<?= $turma['D'] ?></h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <?php foreach (array_filter(explode(';', $turma['M'])) as $conteudo) { ?>
                                <tr>
                                    <td>
                                        <i class="fa fa-minus" style="margin-right: 10px"></i> <?= $conteudo ?>
                                    </td>
                                </tr>
                            <?php } ?>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-close" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    <?php } ?>
    <div class="col-md-12 text-center" style="margin-top: 20px">
        <form id="back" method="POST" action="<?= $this->url('cursos') ?>">
            <input type="hidden" name="segmento" value="<?= $this->segmento ?>">
            <input type="hidden" name="cidade" value="<?= $this->cidade ?>">
            <button style="margin-bottom: 30px" id="btn-submit" class="btn btn-lg btn-success-alt" type="submit">Voltar</button>
        </form>
    </div>
</div>
